node_modules
.env*
!.env.example
.next
dist
build
*.log
.turbo
uploads
.DS_Store

# Nested node_modules and build artifacts
**/node_modules
**/.env*
!**/.env.example
**/.next
**/dist
**/build
**/*.log
**/.turbo
**/uploads
